{% extends 'base/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class='w-6/12 mx-auto mt-1'>
    <div class="relative border border-gray-200 rounded-lg shadow-lg">
      <button onClick='return this.parentNode.remove()'
        class="absolute p-1 bg-gray-100 border border-gray-300 rounded-full -top-1 -right-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-3 h-3"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    
      <div class="flex items-center p-4">
        <div class="ml-3 overflow-hidden">
          <p class="font-medium text-gray-900">Message</p>
          <p class="max-w-xs text-sm text-gray-500 truncate">
            {{message}}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}

<div class="flex flex-col items-center gap-3">
    <p>
        {{ user.get_full_name }}
    </p>
    <p class="text-lg">
        Account not verified.
    </p>
    <p class="text-lg">
        Please check your email for verification email.
    </p>
</div>
<div class="flex flex-col items-center gap-3">
    <form action="{% url 'resend-verification-email' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Resend Verification Email" 
            class="cursor-pointer px-3 py-3 my-3 rounded bg-teal-800 block text-white" 
        />
    </form>
</div>

{% endblock %}