{% extends 'base/base.html' %}

{% block content %}
<div class="search-bar my-3 flex justify-center">
    <form action="{% url 'search-products' %}" class="flex my-6" method="post">
        {% csrf_token %}
        <input type="hidden" name="category" value="{{ category }}" />
        <input name="search" type="text" placeholder="search products..."
        class=" px-4 py-2 rounded-l-lg bg-slate-700 focus:bg-slate-800 focus:text-slate-300 text-slate-400 placeholder-slate-400 focus:ring-0 focus:outline-none border" />
        <button type="submit" class="px-4 py-2 text-sm font-bold uppercase bg-blue-600 rounded-r-lg text-slate-300 active:bg-blue-800 border">
            Search
        </button>
    </form>
</div>
<div class="product-display">
    <div class="sidebar">
        <form action="{% url 'apply-filters' %}" method="post" class="flex flex-row justify-center items-center md:flex-col md:items-start">
            {% csrf_token %}
            <input type="hidden" name="category" value="{{ category }}" />
            {{ form }}
            <button class="px-6 py-2 min-w-[120px] text-center bg-violet-600 border border-violet-600 rounded hover:bg-transparent focus:outline-none focus:ring">Add Filter</button>
        </form>

    </div>

    <div class="main-product-display w-3/4 sm:w-full mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-10 mt-10 mb-5">
        {% for item in products %}
        <div class="w-44 bg-slate-700 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="{% url 'product-detail' item.slug  %}">
                <img src="{{item.product_image.first.image.url}}"
                        alt="Product" class="h-40 w-44 object-cover rounded-t-xl" />
                <div class="px-4 py-3 w-44">
                    <span class="text-white mr-3 uppercase text-xs">{{item.brand_name}}</span>
                    <p class="text-lg font-bold text-white truncate block capitalize">{{item.name}}</p>
                    <div class="flex items-center">
                        <p class="text-lg font-semibold text-white cursor-auto my-3">&#8377; {{ item.original_price }}</p>
                        <!-- <del>
                            <p class="text-sm text-gray-200 cursor-auto ml-2">$199</p>
                        </del> -->
                        <div class="ml-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}